<article class="person">
          <h3 class="personName">{{personName}}</h3>
          <p>Specializing in <span style="font-weight:700">{{Specialty}}</span></p>
          <div class="hidden">{{Tags}}</div>
          <p class="bio">{{Bio}}</p>

</article>
       