<script>
    document.getElementById("peopleTab").classList.add("active")
</script>
<div class="section">
      <h2>People You've Connected With</h2>
      <div class="container">
        {{#each persons}}
        {{> person}}
         {{/each}}
      </div>
      <h2>People on TalenTrade</h2>

    </div>