<script>
    document.getElementById("profile").classList.add("active")
</script>
{{#unless activeUsers}}
<div class="searchTitle">You are not logged in.</div>
<div class="logged-out-options">
    <button type="button" class="create-account-button">Create Account</button>
    <button type="button" class="modal-accept-button">Login</button>
</div>
{{/unless}}
<div class="profileinfo">
    {{#each activeUsers}}
<ul>
    <li class="profileitem">Name: {{personName}}</li>
    <li class="profileitem">Specialty: {{Specialty}}</li>
   <li class="profileitem">Tags: {{Tags}}</li>
   <li class="profileitem">Bio: {{Bio}}</li>
</ul>
{{/each}}
</div>
    
